<div class="search__container" appUserActivity>
  <aside class="search__aside">
    <app-nav-list class="search__nav"></app-nav-list>
  </aside>
  <div class="search__content">
    <app-search-input (searchValue)="findPhotos($event)"
                      class="search__input"
                      placeholder="What do you want to find?"
    ></app-search-input>
    <pagination-controls (pageChange)="handlePageChange($event)"
                         [responsive]="true"
                         *ngIf="total"
                         class="search__pagination"
    >
    </pagination-controls>

    <div class="images__list" *ngIf="total; else noContent">
      <mat-card *ngFor="let image of images | paginate:{ itemsPerPage: 12, currentPage: page, totalItems: total }"
                class="images__item">
        <mat-card-header>
          <mat-card-title class="images__title">{{image.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image class="images__photo" src="{{image.url}}_m.jpg" alt="{{image.title}}">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="saveImage(image.title ,image.url)">Add to favorite</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <pagination-controls (pageChange)="handlePageChange($event)"
                         [responsive]="true"
                         *ngIf="total && images.length"
                         class="search__pagination"
    >
    </pagination-controls>
  </div>
</div>

<ng-template #noContent>
  <div class="empty-list__title">
    {{emptyMessage}}
  </div>
</ng-template>
