:host {
  font-family: Lato serif;

  .bookmarks {
    &__container {
      max-width: 1920px;
      margin: 0 auto;
      display: flex;
    }

    &__content {
      width: 100%;
      min-height: 100vh;
      padding: 0 20px;
      border-left: solid 1px rgba(0, 0, 0, 0.1);
    }

    &__pagination {
      display: flex;
      justify-content: center;

      ::ng-deep .ngx-pagination {
        padding: 0;
      }
    }

    &__aside {
      max-width: 170px;
      width: 100%;
      height: 100vh;
      display: flex;
    }

    @media (max-device-width: 500px) {
      &__aside {
        display: none;
      }
    }

    &__nav {
      width: 170px;
      margin-top: 170px;
    }
  }

  .empty-list {
    &__title {
      margin-top: 40px;
      font-size: 24px;
      line-height: 44px;
      text-align: center;
    }
  }

  .images {
    &__list {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }

    &__item {
      width: 300px;
      margin: 10px;
    }

    &__photo {
      height: 150px;
    }
  }

  @media (max-width: 500px) {
    .bookmarks__aside {
      display: none;
    }
  }
}
